<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoOneDeck App: cards panel</title>
</head>
<body>
<div th:fragment="header">
  <nav id="scanfcode" class="navbar">
    <div class="container-fluid"  align="center">
      <div class="navbar-header">
        <button type="button" id="toogle-button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a id="logo" class="navbar-brand" th:href="@{/}">NoOneApp</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul id="link" class="nav navbar-nav navbar-right">
          <li class="dropdown" id="first-link" th:if="${#authorization.expression('isAuthenticated()')}">
            <ul class="dropdown-menu">
              <li><a href="/yourProfile">Your profile</a></li>
              <li><a href="#">Settings</a></li>
              <li><a href="/findUser">Find user</a></li>
            </ul>
          </li>
          <li class="button-link" th:if="${#authorization.expression('isAuthenticated()')}"><a th:href="@{/logout}">Sign Out</a></li>
          <li class="button-link" th:if="${#authorization.expression('!isAuthenticated()')}"><a th:href="@{/login}">Sign In</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</body>
</html>
