<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoOneDeck App: cards panel</title>
  <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
  <script src="../static/css/general.js" th:src="@{/css/general.js}"></script>
  <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
  <div th:insert="~{fragments/header :: header}"></div>
  <div align="center">
  <div>
    <label> Witaj <span th:text="${user.nickname}" /></label>
    <fieldset>
      <legend>Your Cards</legend>
      <div>
          <div>
            <form method="get" th:action="@{/cardPanel/cardSearch}" th:object="${card}">
              <fieldset>
                <input type="text" th:field="*{cardName}"/>
              </fieldset>
              <p>
                <button type="submit">Search</button>
                <button onclick="createDiv()">Add Card</button>
              </p>
            </form>
          </div>
          <br>
          <div>
            <fieldset>
                <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <td>Name</td>
                    <td>State</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:if="${cardList.isEmpty()}">
                    <td colspan="4">No Cards</td>
                  </tr>
                  <tr th:if="${!cardList.isEmpty()}" th:each="currentCard : ${cardList}">
                    <td id="name" th:text="${currentCard}"></td>
                    <td th:text="${currentCard.state}"></td>
                    <td><button>Edit</button></td>
                  <tr/>
                  </tbody>
                </table>
            </fieldset>
          </div>
      </div>
    </fieldset>
  </div>
    <div id="addForm"><!--style="display: none;"-->
      <fieldset>
        <legend>Add Card</legend>
        <!--/*@thymesVar id="card" type="io.github.brzezik919.model.projection.CardModel"*/-->
        <form method="post" th:action="@{/cardPanel}" th:object="${card}">
          <fieldset>
            <label>Card Name
              <input type="text" th:field="*{cardName}"/>
            </label>
          </fieldset>
          <p>
            <button type="submit" name="addCardForm">Add</button>
            <button type="reset">Reset</button>
          </p>
        </form>
      </fieldset>
    </div>

    <fieldset id="editForm">
      <legend>Edit Card</legend>
      <form th:method="put" th:object="${card}">
        <label>Name: </label>
        <label>State: </label>
        <select name="state">
          <option value="defaultSelectState">-</option>
          <option value="freeSelectState">Free</option>
          <option value="boughtSelectState">Bought</option>
          <option value="useSelectState">In Use</option>
          <option value="sellSelectState">For Sell</option>
        </select>
        <p>
          <button type="submit">Save</button>
          <button id="delete">Delete</button>
        </p>
      </form>
    </fieldset>
    <fieldset>
      <form th:type="delete" th:action="@{/cardPanelDeleteCard}">
        <label>Are you sure?</label>
        <button type="submit">Yes</button>
        <button id="noDelete">No</button>
      </form>
    </fieldset>
  </div>
<div th:insert="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>