<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoOneDeck App: cards panel</title>
  <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
  <div th:insert="~{fragments/header :: header}"></div>
  <div align="center">
  <p>
    <label> Witaj <span th:text="${user.nickname}" /></label>
    <fieldset>
      <label>Your Cards</label>
      <div>
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <td>Name</td>
            <td>State</td>
          </tr>
          </thead>
          <tbody>
          <tr th:if="${cardList.isEmpty()}">
            <td colspan="4">No Cards</td>
          </tr>
          <tr th:if="${!cardList.isEmpty()}" th:each="currentCard : ${cardList}">
            <td th:text="${currentCard}"></td>
            <td th:text="${currentCard.state}"></td>
          <tr/>
          </tbody>
        </table>
      </div>
    </fieldset>
    <button action="change()">Add Card</button>
    <a href="editCard.html"><button>Edit Card</button></a>
    <a href="deleteCard.html"><button>Delete Card</button></a>
  </p>
  <fieldset id="addForm">
    <legend>Add Card</legend>
    <!--/*@thymesVar id="card" type="io.github.brzezik919.model.projection.CardModel"*/-->
    <form method="post" th:action="@{/cardPanel}" th:object="${card}">
      <fieldset>
        <label>Card Name
          <input type="text" th:field="*{cardName}"/>
        </label>
      </fieldset>
      <p>
        <button type="submit" name="addCardForm">Add</button>
        <button type="reset">Reset</button>
      </p>
    </form>
  </fieldset>
  </div>
<div th:insert="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>