<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoOneDeck App: cards panel</title>
  <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
  <script src="../static/css/general.js" th:src="@{/css/general.js}"></script>
  <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
  <div th:insert="~{fragments/header :: header}"></div>
  <div align="center">
  <div>
    <fieldset>
      <legend>Your Cards</legend>
      <div>
          <div>
            <form method="post" th:action="@{/cardPanel/cardSearch}" th:object="${card}">
              <fieldset>
                <label><input type="text" th:field="*{cardName}"/></label>
              </fieldset>
              <p>
                <button type="submit">Search</button>
              </p>
            </form>
            <button onclick="createDivAddCard()">Add Card</button>
          </div>
          <br>
        <div>
          <fieldset>
            <label th:if="${search} == true">Who have that card in your team</label>
            <div>
              <table>
                <tr>
                  <td>Name</td>
                  <td>State</td>
                  <td>Description</td>
                </tr>
                <tr th:if="${cardPage.content.isEmpty()}">
                  <td colspan="4">No cards</td>
                </tr>
                <tr th:if="${!cardPage.content.isEmpty()}" th:each="currentCard : ${cardPage.content}">
                  <td th:id="name+${currentCard.id}" th:text="${currentCard}"></td>
                  <td th:text="${currentCard.state}"></td>
                  <td th:text="${currentCard.note}"></td>
                  <td><button th:id="${currentCard.id}" onClick="createDivEditCard(this.id)">Edit</button></td>
                </tr>
              </table>
            </div>
            <div>
              <label th:if="${cardPage.totalPages > 0 and search == false}" class="pagination"
                     th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/cardPanel(size=${cardPage.size}, page=${pageNumber - 1})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==cardPage.number + 1} ? active"></a>
              </label>
              <label th:if="${cardPage.totalPages > 0 and search == true}" class="pagination"
                     th:each="pageNumber : ${pageNumbers}">
                <a type="submit" th:href="@{/cardPanel/cardSearch(cardName=${searchName}, size=${cardPage.size}, page=${pageNumber - 1})}"
                   th:text="${pageNumber}"
                   th:class="${pageNumber==cardPage.number + 1} ? active">
                </a>
              </label>
            </div>
          </fieldset>
        </div>
      </div>
    </fieldset>
  </div>
    <div id="addForm" style="display: none;">
      <fieldset>
        <legend>Add Card</legend>
        <!--/*@thymesVar id="card" type="io.github.brzezik919.model.projection.CardModel"*/-->
        <form method="post" th:action="@{/cardPanel/addCard}" th:object="${card}">
          <fieldset>
            <label>Card Name
              <input type="text" th:field="*{cardName}"/>
            </label>
          </fieldset>
          <p>
            <button type="submit" name="addCardForm">Add</button>
            <button type="reset">Reset</button>
          </p>
        </form>
      </fieldset>
    </div>
    <div id="addCard"></div>
    <div id="editCard"></div>
    <div id="editForm" style="display: none;">
      <fieldset>
        <legend>Edit Card</legend>
          <form th:method="put" th:object="${card}" th:action="@{/cardPanel/cardPanelEditCard}">
          <label><input type="text" th:field="*{id}" id="idSelectedCard" name="idSelectedCard" value="test" style="display: none;"/></label>
          <label id="nameSelectedCard">Name: </label>
          <label>State: </label>
          <label>
            <select id="stateSelectedCard" name="state" th:field="*{state}">
              <option th:value="'-'" disabled>-</option>
              <option th:value="'Free'" th:text="Free"></option>
              <option th:value="'In Use'" th:text="|In Use|"></option>
              <option th:value="'For Sale'" th:text="|For Sale|"></option>
            </select>
          </label>
            <label>Note: <input type="text" th:field="*{note}" /></label>
            <button type="submit">Save</button>
        </form>
        <button id="deleteButton" onclick="createDeleteWindow()">Delete</button>
      </fieldset>
    </div>
    <div id="deleteWindow"></div>
    <div id="deleteMessage" style="display: none;">
      <fieldset>
        <form th:method="delete" th:action="@{/cardPanel/cardPanelDeleteCard}" th:object="${card}">
          <label><input type="text" th:field="*{id}" id="idSelectedDeleteCard" name="idSelectedDeleteCard" style="display: none;"/></label>
          <label>Are you sure?</label>
          <button type="submit">Yes</button>
        </form>
        <button onclick="deleteDeleteWindow()">No</button>
      </fieldset>
    </div>
  </div>
<div th:insert="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>