<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoOneDeck App: cards search</title>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
    <div th:insert="~{fragments/header :: header}"></div>
    <fieldset>
        <span>Search Card</span>
        <form method="post" th:action="@{/cardSearch}" th:object="${card}">
            <label>
                <input type="text" th:field="*{cardName}"/>
                <button type="submit">Search</button>
            </label>
        </form>
    </fieldset>

    <fieldset th:if="${cardList !=null}">
        <label>Who have that card in your team</label>
        <div>
            <table>
                <th>
                    <tr>
                        <td>Name</td>
                        <td>User</td>
                    </tr>
                </th>
                <tr th:each="currentCard : ${cardList}">
                    <td th:text="${currentCard}"></td>
                    <td th:text="${currentCard.user.nickname}"></td>
                </tr>
            </table>
        </div>
    </fieldset>

<div th:insert="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>