<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoOneDeck App: cards search</title>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
    <div th:insert="~{fragments/header :: header}"></div>
    <div align="center" th:object="${user}">
        <div>
            <fieldset th:if="${user.status == true and user.team != null}" >
                <span>Search Card</span>
                <form method="post" th:action="@{/cardSearch/cardname}" th:object="${card}">
                    <label>
                        <input type="text" th:field="*{cardName}"/>
                        <button type="submit">Search</button>
                    </label>
                </form>
            </fieldset>
        </div>
        <div>
            <fieldset th:if="${user.team != null and user.status == true}">
                <label th:if="${search} == true">Who have that card in your team</label>
                <div>
                    <table>
                        <tr>
                            <td>Name</td>
                            <td>User</td>
                            <td>Note</td>
                        </tr>
                        <tr th:if="${cardPage.content.isEmpty()}">
                            <td colspan="4">No cards in team</td>
                        </tr>
                        <tr th:if="${!cardPage.content.isEmpty()}" th:each="currentCard : ${cardPage.content}">
                            <td th:id="name+${currentCard.id}" th:text="${currentCard}"></td>
                            <td th:text="${currentCard.user.nickname}"></td>
                            <td th:text="${currentCard.note}"></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <label th:if="${cardPage.totalPages > 0 and search == false}" class="pagination"
                           th:each="pageNumber : ${pageNumbers}">
                        <a th:href="@{/cardSearch(size=${cardPage.size}, page=${pageNumber - 1})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==cardPage.number + 1} ? active"></a>
                    </label>
                    <label th:if="${cardPage.totalPages > 0 and search == true}" class="pagination"
                           th:each="pageNumber : ${pageNumbers}">
                        <a type="submit" th:href="@{/cardSearch/search(cardName=${searchName}, size=${cardPage.size}, page=${pageNumber - 1})}"
                           th:text="${pageNumber}"
                           th:class="${pageNumber==cardPage.number + 1} ? active">
                        </a>
                    </label>
                </div>
            </fieldset>
        </div>
        <div>
            <fieldset th:if="${user.team == null}">
                <label>You are not member any team click <a th:href="@{/teamPanel}">here</a> for join</label>
            </fieldset>
            <fieldset th:if="${user.status == false and user.team != null}">
                <label>You must be accepted member of team for search card</label>
            </fieldset>
        </div>
    </div>
<div th:insert="~{fragments/footer :: footer}"></div>
</main>
</body>
</html>