<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoOneDeck App</title>
  <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">


</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div align="center">
  <fieldset th:object="${decklist}">
    <legend>Import Decklist</legend>
    <form th:method="post" th:action="@{/createDecklist/generate/save}" enctype="multipart/form-data">
      <label>Import: </label>
      <input type="file" name="deck" id="deck" accept="ydk"/>
      <button type="submit">Generate</button>
    </form>
  </fieldset>
  <fieldset>
    <legend>Your Decklists</legend>
    <div>
      <table>
        <tr>
          <td>Name</td>
          <td>User</td>
          <td>Permission</td>
          <td></td>
          <td></td>
        </tr>
        <tr th:if="${decklistPage.content.isEmpty()}">
          <td colspan="4">No decklists</td>
        </tr>
        <tr th:if="${!decklistPage.content.isEmpty()}" th:each="currentDecklist : ${decklistPage.content}">
          <td th:text="${currentDecklist.name}"></td>
          <td th:text="${currentDecklist.user.nickname}"></td>
          <td><label>Private: <input type="checkbox" /></label><label>Team: <input type="checkbox" /></label><label>Public: <input type="checkbox" value=true/></label></td>
          <td><label><a th:href="@{/decklists/deck/{id}(id=${currentDecklist.id})}"><button>Show</button></a></label></td>
          <td><form th:method="delete" th:action="@{createDecklist/delete/{id}(id=${currentDecklist.id})}"><button type="submit">Delete</button></form></td>
        </tr>
      </table>
    </div>
    <div>
      <label th:if="${decklistPage.totalPages > 0}" class="pagination"
             th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/createDecklist(size=${decklistPage.size}, page=${pageNumber - 1})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==decklistPage.number + 1} ? active"></a>
      </label>
    </div>

  </fieldset>
  <fieldset>
    <legend>Generated Decklist</legend>
    <div>
      Here is decklist :)
    </div>
  </fieldset>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>