<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoOneDeck App</title>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">


</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div align="center">
    <fieldset>
        <legend>Team decklist</legend>
        <label th:if="${permissionToDecklist} == false"></label>
        <div>
            <table>
                <tr>
                    <td>Name</td>
                    <td>User</td>
                    <td></td>
                </tr>
                <tr th:if="${decklistTeamPage == null}">
                    <td colspan="4">No decklists</td>
                </tr>
                <tr th:if="${decklistTeamPage != null}" th:each="currentTeamDecklist : ${decklistTeamPage}">
                    <td th:text="${currentTeamDecklist.name}"></td>
                    <td th:text="${currentTeamDecklist.user.nickname}"></td>
                    <td><a th:href="@{/decklists/deck/{id}(id=${currentTeamDecklist.id})}"><button>Show</button></a></td>
                </tr>
            </table>
        </div>
        <div>
            <label th:if="${decklistTeamPage != null} and ${decklistTeamPage.totalPages > 0}" class="pagination"
                   th:each="pageTeamNumbers : ${pageTeamNumbers}">
                <a th:href="@{/decklists(size=${decklistTeamPage.size}, pageTeam=${pageTeamNumbers - 1})}"
                   th:text="${pageTeamNumbers}"
                   th:class="${pageTeamNumbers==decklistTeamPage.number + 1} ? active"></a>
            </label>
        </div>
    </fieldset>
    <fieldset>
        <legend>Public decklists</legend>
        <div>
            <table>
                <tr>
                    <td>Name</td>
                    <td>User</td>
                    <td></td>
                </tr>
                <tr th:if="${decklistPublicPage.isEmpty()}">
                    <td colspan="4">No decklists</td>
                </tr>
                <tr th:if="${!decklistPublicPage.isEmpty()}" th:each="currentPublicDecklist : ${decklistPublicPage}">
                    <td th:text="${currentPublicDecklist.name}"></td>
                    <td th:text="${currentPublicDecklist.user.nickname}"></td>
                    <td><a th:href="@{/decklists/deck/{id}(id=${currentPublicDecklist.id})}"><button>Show</button></a></td>
                </tr>
            </table>
        </div>
        <div>
            <label th:if="${decklistPublicPage.totalPages > 0}" class="pagination"
                   th:each="pagePublicNumbers : ${pagePublicNumbers}">
                <a th:href="@{/decklists(size=${decklistPublicPage.size}, pagePublic=${pagePublicNumbers - 1})}"
                   th:text="${pagePublicNumbers}"
                   th:class="${pagePublicNumbers==decklistPublicPage.number + 1} ? active"></a>
            </label>
        </div>
    </fieldset>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>