<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoOneDeck App: market</title>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="../static/css/general.js" th:src="@{/css/general.js}"></script>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
    <div th:insert="~{fragments/header :: header}"></div>
    <fieldset>
        <div>
            <fieldset>
                <legend>Market</legend>
                <div>
                    <form method="get" th:action="@{/market/cardSearch}" th:object="${card}">
                        <label><input type="text" th:field="*{cardName}"/><button type="submit">Search</button></label>
                    </form>
                </div>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <table>
                        <tr>
                            <td>Name</td>
                            <td>User</td>
                        </tr>
                    <tr th:if="${cardList.isEmpty()}">
                        <td colspan="4">No Cards</td>
                    </tr>
                    <tr th:if="${!cardList.isEmpty()}" th:each="currentCard : ${cardList}">
                        <td th:id="name+${currentCard.id}" th:text="${currentCard}"></td>
                        <td th:text="${currentCard.user.nickname}"></td>
                        <!--<td th:if="${currentCard.user.team} != null" th:text="${currentCard.user.team}"></td>
                        <td th:if="${currentCard.user.team} == null" th:text="None"></td>-->
                        <td th:if="${currentCard.user.id} != ${userLogIn.id}">
                            <button th:id="${currentCard.id}" onclick="createWindowTransaction(this.id)">Buy</button>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div id="formTransaction"></div>
        <div id="transactionWindow" style="display: none">
            <fieldset>
                <div>
                    <form th:method="post" th:object="${transaction}" th:action="@{/market/createOffer}">
                        <legend>Create Offer</legend>
                        <label><input type="text" th:field="*{card}" id="idSelectedCard" style="display: none"></label>
                        <label id="nameSelectedCard">Name: </label>
                        <label>Note: <input type="text" th:field="*{description}"></label>
                        <button type="submit">Create Offer</button>
                    </form>
                </div>
            </fieldset>
        </div>
    </fieldset>
</main>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>