<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoOneDeck App</title>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">


</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div align="center">
    <div>
        <fieldset>
            <legend>Offer</legend>
            <label>Id: <label th:text="${transaction.id}"></label></label><br />

            <label>Card name: <a th:href="@{https://yugioh.fandom.com/wiki/{cardNameLink}(cardNameLink = ${transaction.card.cardName.name})}"><label th:text="${transaction.card.cardName.name}"></label></a></label><br />
            <label>Seller: <label th:if="${transaction.ownerOffer} != null" th:text="${transaction.ownerCard.nickname}"></label><label th:if="${transaction.ownerOffer} == null">Deleted Account</label></label><br />
            <label>Buyer: <label th:if="${transaction.ownerOffer} != null" th:text="${transaction.ownerOffer.nickname}"></label><label th:if="${transaction.ownerOffer} == null">Deleted Account</label></label><br />
            <label>Description:  <label th:text="${transaction.description}"></label></label><br />
            <label>State: <label th:text="${transaction.state}"></label></label><br />
            <label th:if="${opinion} != null">Opinion: <label th:if="${opinion.grade} == true" style="color: green">Positive</label><label th:if="${opinion.grade} == false" style="color: red">Negative</label></label>
        </fieldset>
        <fieldset th:if="${opinion} == null and ${transaction.state} != 'Pending'">
            <legend>Opinion</legend>
            <label>How you grade that seller?</label>
            <form th:method="post" th:action="@{/yourProfile/offer/{id}/gradeTransaction(id=${transaction.id})}">
                <input type="text" style="display: none" th:value="${transaction.id}" id="id" name="id"/>
                <button type="submit" name="gradeTransaction" value="true">Positive</button>
                <button type="submit" name="gradeTransaction" value="false">Negative</button>
            </form>
        </fieldset>
    </div>
    <div>
        <div th:if="${!messageList.isEmpty()}">
            <fieldset>
                <p th:each="messageList : ${messageList}">
                    <label th:text="${messageList.messageText}" th:if="${messageList.idUser == transaction.ownerCard.id}" style="float: right; background-color: #cccccc;"></label>
                    <label th:text="${messageList.messageText}" th:if="${messageList.idUser == transaction.ownerOffer.id}" style="float: left; background-color: cornflowerblue;"></label>
                    <br />
                </p>

            </fieldset>
        </div>
        <div th:object="${messageTransaction}">
            <form th:method="post" th:action="@{/yourProfile/offer/{id}/sendMessage(id=${transaction.id})}">
                <label><input type="text" th:field="*{messageText}"/><button type="submit">Send</button></label>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>