<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoOneDeck App: team panel</title>
    <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:if="${user.status == true}">
    <fieldset th:object="${teamFound}">
        <label>Name: <span th:text="${teamFound.name}"></span></label><br />
        <label>Description: <span th:text="${teamFound.description}"></span></label>
    </fieldset>
</div>
<div th:if="${user.status == true}">
    <fieldset>
        <label>Members</label>
            <div>
                <table>
                    <tr th:each="memberList : ${memberList}">
                        <td th:text="${memberList.nickname}"></td>
                    <tr/>
                </table>
            </div>
    </fieldset>
</div>

<div th:if="${user.status == true}">
    <fieldset>
        <label>Code to your team is: <span th:text="${teamFound.code}"></span></label>
    </fieldset>
</div>

<div th:if="${!candidateList.isEmpty() and user.status == true}">
    <fieldset>
        <label>List of Candidate</label>
        <div>
            <table>
                <tr th:each="candidateList : ${candidateList}">
                    <td th:text="${candidateList.nickname}"></td>
                <tr/>
            </table>
        </div>
    </fieldset>
</div>
<div>
    <fieldset th:if="${user.status == false}">
        <label>You must wait for decidion team <span th:text="${teamFound.name}"></span> about accepted you.</label>
    </fieldset>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>