<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoOneDeck App: team panel</title>
  <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div>
  <fieldset>
    <div>
      <fieldset>
        <h3>Create or Join Team</h3><br />
      </fieldset>
    </div>
    <div>
      <fieldset>
        <legend>Create a team: </legend>
        <form method="post" th:action="@{/teamJoinPanel}" th:object="${team}">
          <label>Name:
            <input type="text" th:field="*{name}">
          </label>
          <button type="submit">Create</button>
        </form>
      </fieldset>
    </div>

    <div>
      <fieldset>
        <legend>Join team</legend>
        <form th:method="put" th:action="@{/teamJoinPanel}" th:object="${team}">
          <label>Enter team code: </label>
          <label><input type="text" th:field="*{code}"/></label>
          <button type="submit">Join</button>
        </form>
      </fieldset>
    </div>
  </fieldset>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>