<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoOneDeck App: team panel</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<div>
    <fieldset>
        <label>Name: </label>
        <label>Description: </label>
    </fieldset>
</div>
<div>
    <fieldset>
        <label>Members</label>
            <div>
                <table>
                    <th>
                        <tr>
                            <td>Nick</td>
                        </tr>
                    </th>
                    <tr>
                        <td></td>
                    <tr/>
                </table>
            </div>
    </fieldset>
</div>

<div>
    <fieldset>
        <form>
            <label>Enter team code: </label>
            <input type="text" />
            <button type="submit">Join</button>
        </form>
    </fieldset>
</div>

<div>
    <fieldset>
        <label>List of candidate</label>
    </fieldset>
</div>
</body>
</html>