<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoOneDeck App</title>
  <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">


</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div>
  <fieldset th:if="${user.nickname != null}">
     <label>Hi <span th:text="${user.nickname}" /></label>
  </fieldset>
  <fieldset>
     <form th:if="${user.nickname == 'Unknown'}" th:method="put" th:object="${user}" th:action="@{/yourProfile/setUsername}">
       <label>Set nickname</label>
       <input type="text" th:field="*{nickname}">
       <button type="submit">Ok</button>
     </form>

    <!-- <form th:method="put" th:object="user" th:action="@{/cardPanel/setEmail}">
      <label>Set email</label>
      <input type="text" th:field="*{user.email}">
      <button type="submit">Ok</button>
    </form>-->
  </fieldset>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>