<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NoOneDeck App</title>
  <link href="../static/css/styles.css" rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">

</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div align="center">
    <div th:object="${user}">
        <fieldset>
            <img th:src="@{${user.photosImagePath}}" />
            <label th:text="${user.photosImagePath}" />
            <form th:method="put" th:action="@{/yourProfile/setAvatar}" enctype="multipart/form-data">
                <label>Avatar: </label>
                <input type="file" name="image" id="image" accept="image/png, image/jpeg" >
                <button type="submit">Ok</button>
            </form>
        </fieldset>
        <fieldset th:if="${user.nickname != null}">
            <label>Hi <span th:text="${user.nickname}" ></span></label>
        </fieldset>
        <fieldset th:if="${user.nickname == 'Unknown'}">
            <form th:method="put" th:action="@{/yourProfile/setUsername}">
                <label>Set nickname</label>
                <label><input type="text" th:field="*{nickname}"></label>
                <button type="submit">Ok</button>
            </form>
        </fieldset>
        <label>Opinion:
            <label th:text="${countPositive}" style="color: green;"></label>
            <label> </label>
            <label th:text="${countNegative}" style="color: red;"></label>
        </label><br />
    </div>
    <div>
        <fieldset>
            <fieldset>
                <legend>Offers</legend>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Transaction Partner</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${cardPageActually.content.isEmpty()}">
                        <td colspan="4">No Offers</td>
                    </tr>
                    <tr th:if="${!cardPageActually.content.isEmpty()}" th:each="userTransaction : ${cardPageActually.content}">
                        <form th:method="put" th:object="${transaction}" th:action="@{/yourProfile/acceptOffer}">
                            <td th:text="${userTransaction.id}"></td>
                            <td th:text="${userTransaction.card.cardName.name}"></td>
                            <td th:text="${userTransaction.ownerOffer.nickname}"></td>
                            <td>
                                <label><input style="display: none;" type="text" th:value="${userTransaction.id}" id="id" name="id"></label>
                                <button type="submit" name="acceptOffer" value="true" th:if="${userTransaction.ownerCard.id} == ${user.id}">Accept</button>
                                <button type="submit" name="acceptOffer" value="false" th:if="${userTransaction.ownerCard.id} == ${user.id}">Decline</button>
                                <button type="submit" name="acceptOffer" value="false" th:if="${userTransaction.ownerCard.id} != ${user.id}">Resign</button>
                            </td>
                        </form>
                        <td><a th:href="@{/yourProfile/offer/{id}(id=${userTransaction.id})}"><button>Show</button></a></td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <label th:if="${cardPageActually.totalPages > 0}" class="pagination"
                           th:each="pageNumbersTransaction : ${pageNumbersTransaction}">
                        <a th:href="@{/yourProfile(size=${cardPageActually.size}, pageActually=${pageNumbersTransaction})}"
                           th:text=${pageNumbersTransaction}
                           th:class="${pageNumbersTransaction==cardPageActually.number + 1} ? active"></a>
                    </label>
                </div>
            </fieldset>
            <fieldset>
                <legend>History</legend>
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Transaction Partner</td>
                        <td>Status</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${cardPageHistory.content.isEmpty()}">
                        <td colspan="4">No Offers</td>
                    </tr>
                    <tr th:if="${!cardPageHistory.content.isEmpty()}" th:each="userHistory : ${cardPageHistory.content}">
                        <td th:text="${userHistory.id}"></td>
                        <td th:text="${userHistory.card.cardName.name}"></td>
                        <td th:if="${userHistory.ownerCard} == null">Deleted Account</td>
                        <td th:if="${userHistory.ownerOffer} == null">Deleted Account</td>
                        <td th:if="${userHistory.ownerCard} != null and ${userHistory.ownerCard.id} != ${user.id}" th:text="${userHistory.ownerCard.nickname}"></td>
                        <td th:if="${userHistory.ownerOffer} != null and ${userHistory.ownerCard} != null and ${userHistory.ownerCard.id} == ${user.id}" th:text="${userHistory.ownerOffer.nickname}"></td>
                        <td th:text="${userHistory.state}"></td>
                        <td>
                            <a th:href="@{/yourProfile/offer/{id}(id=${userHistory.id})}"><button>Show</button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <label th:if="${cardPageHistory.totalPages > 0}" class="pagination"
                           th:each="pageNumbersHistory : ${pageNumbersHistory}">
                        <a th:href="@{/yourProfile(size=${cardPageHistory.size}, pageHistory=${pageNumbersHistory})}"
                           th:text=${pageNumbersHistory}
                           th:class="${pageNumbersHistory==cardPageHistory.number + 1} ? active"></a>
                    </label>
                </div>
            </fieldset>
        </fieldset>
    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>
</body>
</html>